[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/flap-theme"]
	path = themes/flap-theme
	url = git@gitlab.com:flap-box/flap-hugo-theme.git
