[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/simple-blog"]
	path = themes/simple-blog
	url = https://github.com/10mohi6/hugo-theme-simple-blog
