article {
	display: flex;
	flex-direction: column;
	align-items: center;

	.adapted-width {
		width: 700px;

		@media (max-width: 650px) {
			width: 90%;
		}
	}

	.article-content-container {
	    position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	nav {
		display: flex;

		@media (max-width: 650px) {
			flex-direction: column;
		}

		div {
			margin: 0 50px;

			@media (max-width: 650px) {
				margin: 10px 15px;
			}
		}
	}

	h2 {
		text-align: left;
		font-size: 32px !important;
	}

	p {
		text-align: justify;
		font-size: 16px;
	}
}
