{{ define "main" }}

{{ $paginator := .Paginate ( where site.RegularPages "Type" "in" site.Params.mainSections ) }}
{{ if eq .Kind "taxonomy" }}
{{ $paginator = .Data }}
{{ end }}

<div id="blog-home" class="mt-5">
	<div>
		<h1>{{ if not .IsHome }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</h1>

		{{ with .Site.Params.description }}
		<p id="blog-description">{{ . }}</p>
		{{ end }}
	</div>

	<div class="article-links-container mt-5">
		<div class="article-links bg-skew bg-skew-light">

			{{ range $paginator.Pages }}
			<div class="article-link">
				<a href="{{ .Permalink }}" aria-label="{{ .Title }}">
					<h2 class="article-link-title mt-5">{{ .Title }}</h2>

					<p class="article-date">{{.Date.Format "January 2, 2006"}}</p>

					<p class="article-summary">{{ .Summary | plainify | htmlUnescape }}</p>

					<p>
						{{ range .Params.tags }}
						<a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/" class="text-dark">#{{ . }}</a>
						{{ end }}
					</p>
				</a>
			</div>
			{{ end }}

		</div>

		<nav>
			<ul class="pagination justify-content-center mt-5">
				{{ range $paginator.Pagers }}
				<li class="page-item {{ if eq $paginator.PageNumber .PageNumber }}active{{ end }}">
					<a class="page-link" href="{{ .URL }}">{{.PageNumber}}</a>
				</li>
				{{ end }}
			</ul>
		</nav>
	</div>
</div>
{{ end }}
