<!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
{{ $icon_size := "32px" }}
{{ with .Param "stackoverflow" }}
<a href="{{ . }}" target="_blank" class="stackoverflow mr-3" title="Stack Overflow" rel="noopener"
  aria-label="follow on Stack Overflow——Opens in a new window">
  {{ partial "svg/stackoverflow.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "facebook" }}
<a href="{{ . }}" target="_blank" class="facebook mr-3" title="Facebook" rel="noopener"
  aria-label="follow on Facebook——Opens in a new window">
  {{ partial "svg/facebook.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "twitter" }}
<a href="{{ . }}" target="_blank" class="twitter mr-3" title="Twitter" rel="noopener"
  aria-label="follow on Twitter——Opens in a new window">
  {{ partial "svg/twitter.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "instagram" }}
<a href="{{ . }}" target="_blank" class="instagram mr-3" title="Instagram" rel="noopener"
  aria-label="follow on Instagram——Opens in a new window">
  {{ partial "svg/instagram.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "youtube" }}
<a href="{{ . }}" target="_blank" class="youtube mr-3" title="Youtube" rel="noopener"
  aria-label="follow on Youtube——Opens in a new window">
  {{ partial "svg/youtube.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "linkedin" }}
<a href="{{ . }}" target="_blank" class="linkedin mr-3" title="LinkedIn" rel="noopener"
  aria-label="follow on LinkedIn——Opens in a new window">
  {{ partial "svg/linkedin.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "github" }}
<a href="{{ . }}" target="_blank" class="github mr-3" title="Github" rel="noopener"
  aria-label="follow on Github——Opens in a new window">
  {{ partial "svg/github.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "gitlab" }}
<a href="{{ . }}" target="_blank" class="gitlab mr-3" title="Gitlab" rel="noopener"
  aria-label="follow on Gitlab——Opens in a new window">
  {{ partial "svg/gitlab.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "keybase" }}
<a href="{{ . }}" target="_blank" class="keybase mr-3" title="Keybase" rel="noopener"
  aria-label="follow on Keybase——Opens in a new window">
  {{ partial "svg/keybase.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "medium" }}
<a href="{{ . }}" target="_blank" class="medium mr-3" title="Medium" rel="noopener"
  aria-label="follow on Medium——Opens in a new window">
  {{ partial "svg/medium.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "mastodon" }}
<a href="{{ . }}" target="_blank" class="mastodon mr-3" title="Mastodon" rel="noopener"
  aria-label="follow on Mastodon——Opens in a new window">
  {{ partial "svg/mastodon.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "slack" }}
<a href="{{ . }}" target="_blank" class="slack mr-3" title="Slack" rel="noopener"
  aria-label="follow on Slack——Opens in a new window">
  {{ partial "svg/slack.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}
{{ with .Param "rss" }}
<a href="{{ . }}" target="_blank" class="rss mr-3" title="RSS" rel="noopener" aria-label="RSS——Opens in a new window">
  {{ partial "svg/rss.svg" (dict "color" "white" "size" $icon_size) }}
</a>
{{ end }}