<!-- about -->
<h2>Un mot sur FLAP</h2>

<p>
  FLAP aide les professionnels et les particuliers à reprendre le contrôle de
  leurs données. Écoute, conseils, mise en place et suivi, FLAP vous accompagne
  dans vos besoins numériques en administrant, pour vous, des services
  professionnels et éthiques tels que
  <a href="https://nextcloud.com">Nextcloud</a> pour le partage de fichiers,
  <a href="https://matrix.org">Matrix</a> et <a href="https://element.io">Element</a> pour la messagerie
  instantanée, et <a href="https://jitsi.org">Jitsi</a> pour la visioconférence.
  N'hésitez à vous rendre sur <a href="https://www.flap.cloud">notre site</a> , <a href="https://www.flap.cloud/pricings">notre page tarifaire</a> ou à <a href="https://www.flap.cloud/contact">nous contacter</a> pour plus d'informations !
</p>
<!-- about -->
