<!-- about -->
<h2>Un mot sur FLAP</h2>

<p>
  FLAP aide les professionnels et les particuliers à reprendre le contrôle de
  leurs données. Écoute, conseils, mise en place et suivi, FLAP vous accompagne
  dans vos besoins numériques en administrant, pour vous, des services
  professionnels et éthiques tel que
  <a href="https://nextcloud.com">Nextcloud</a> pour le partage de fichiers,
  <a href="https://matrix.org">Matrix</a> et Element pour la messagerie
  instantanée, et <a href="https://jitsi.org">Jitsi</a> pour la visioconférence.
  N'hésitez pas à nous contacter pour plus d'informations !
</p>
<!-- about -->
